.game-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    position: relative;
}

.map {
    display: grid;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 100%;
    height: 100%;
}

.map button img {
    max-width: 100%;
    max-height: 100%;

    aspect-ratio: 1/1;
}

.copy {
    margin-top: 3%;
}