.join-area {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-area button {
    font-size: 30px;
}

.code-area {
    width: 300px;
    height: 200px;
    font-size: 20px;
    margin: 20px;
    background-color: rgb(214, 214, 214);
    border: 4px solid #aaa;
    border-radius: 0px;
}