.mc-button {
    background-color: rgb(187, 187, 187);
    width: 100px;
    height: 100px;
    position: relative;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vertical-right-line {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0,0.25);
}

.horizontal-bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2px);
    height: 4px;
    background-color: rgba(0, 0, 0,0.25);
}

.vertical-left-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: calc(100% - 4px);
    background-color: rgba(255, 255, 255, 0.5);
}

.horizontal-top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}