.code-place {
    background-color: rgb(199, 199, 199);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 4px solid #aaa;
    border-radius: 0px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
}