nav {
    background-color: #07d838;
    display: flex;
    width: calc(100% - 40px);
    height: 40px;
    margin: 5px 20px; /* Odstępy od krawędzi */
    justify-content: center; /* Wyśrodkowanie elementów w osi głównej (default: row) */
    align-items: center; /* Wyśrodkowanie elementów w osi poprzecznej */
    gap: 30px;
    border-radius: 8px;
}

nav a {
    color: rgb(107, 104, 104);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(212, 88, 88);
}