@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

html, body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url('/images/minecraft.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

